#!/bin/bash

echo "HERE!"
# Generate SSH key if it doesn't exist
# if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
#     echo "Generating SSH key..."
#     ssh-keygen -t ed25519 -C "{ .email }" -f "$HOME/.ssh/id_ed25519" -N ""
#     echo "SSH key generated at ~/.ssh/id_ed25519"
#     echo "Public key:"
#     cat "$HOME/.ssh/id_ed25519.pub"
#     echo ""
# else
#     echo "SSH key already exists at ~/.ssh/id_ed25519"
# fi

