[git]
  autoAdd = true
  autoCommit = false
  autoPush = false

[data]
{{- if eq .chezmoi.hostname "NH-C3W3SG3-W" }}
  email = "mcramer@neuehealth.com"
  username = "mcramer"
{{- else }}
  email = "mjcramer@gmail.com"
  username = "mjcramer"
{{- end }}
