[git]
  autoAdd = true
  autoCommit = false
  autoPush = false

[data]
{{- if hasPrefix "NH-" .chezmoi.hostname }}
  email = "mcramer@neuehealth.com"
  username = "mcramer"
{{- else }}
  email = "mjcramer@gmail.com"
  username = "mjcramer"
{{- end }}
